@font-face {
  font-family: "figtree";
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "figtree";
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
  font-weight: 800;
}

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: b.$primary;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "figtree";
  font-weight: 500;
}
